@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.menu li .active img {
  filter: brightness(0) invert(1); /* Invert the SVG color to white */
}

.svg-active {
  filter: brightness(0) invert(1); /* This makes the icon white */
}

.tabs-bordered > .tab {
  border-bottom-width: 1px !important;
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bdbdbd;
}

/* For Firefox */
::-moz-scrollbar {
  width: 6px;
  height: 6px;
}

::-moz-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bdbdbd;
}

/* For Internet Explorer */
::-ms-scrollbar {
  width: 6px;
  height: 6px;
}

::-ms-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bdbdbd;
}
table-sm :where(th, td) {
  padding: 0.5rem 0.75rem !important;
}

/* for h1 tags */
.sub-header {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 0.25rem;
}

/* for svg */
.fill-current {
  fill: currentColor;
}
