@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Nunito", sans-serif;
}
* {
  box-sizing: border-box;
}

.menu li .active img {
  filter: brightness(0) invert(1); /* Invert the SVG color to white */
}

.svg-active {
  filter: brightness(0) invert(1); /* This makes the icon white */
}
